<nav >
    <div style="padding: 0 10px !important" class="nav-wrapper black">
        <a href="/supervisor" class="brand-logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="orange darken-2"><a href="/supervisor/darAltaACliente">Dar de alta un cliente</a></li>
            <li class="orange darken-2"><a href="/supervisor/listarTodosLosClientesAEliminar">Dar de baja un cliente</a></li>
            <li class="orange darken-2"><a href="/supervisor/listarTodosLosPosiblesClientesAModificar">Modificar un cliente</a></li>
            <li class="orange darken-2"><a href="/supervisor/listarTodosLosClientes">Listar clientes</a></li>
            <li class="blue darken-2"><a href="/supervisor/obtenerUsuariosSinRol">Dar de alta un equipo</a></li>
            <li class="blue darken-2"><a href="/supervisor/traerTodosLosUsuariosABorrarOBloquear">Dar de baja un equipo</a></li>
            <li class="blue darken-2"><a href="/supervisor/traerTodosLosUsuariosAModificar">Modificar un equipo</a></li>
            <li class="red darken-2"><a href="/supervisor/cerrarSesion">Cerrar sesión</a></li>
        </ul>

    </div>
</nav>